export AZURE_APP_CLIENT_ID=a11y
export AZURE_APP_WELL_KNOWN_URL=http://host.docker.internal:8080/issueissue/.well-known/openid-configuration
export DB_DATABASE=a11y
export DB_HOST=localhost
export DB_PASSWORD=a11y
export DB_PORT=5432
export DB_USERNAME=postgres
export ADMINS=carl@good.morning
