volumes:
  pgdata:
services:
  db:
    image: postgres
    volumes:
      - pgdata:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: a11y
      POSTGRES_PASSWORD: a11y
    #  POSTGRES_HOST_AUTH_METHOD: trust
    ports:
      - "5432:5432"

  mock-oauth2-server:
    image: ghcr.io/navikt/mock-oauth2-server:1.0.0
    ports:
      - "8080:8080"
    environment:
      JSON_CONFIG: |
        {
          "interactiveLogin": false,
          "tokenCallbacks": [
            {
              "issuerId": "issueissue",
              "requestMappings": [
                {
                  "requestParam": "grant_type",
                  "claims": {
                    "aud": ["a11y"],
                    "email" : "carl@good.morning",
                    "name": "Carl Good Morning",
                    "oid": "carl@good.morning"
                  }
                }
              ]
            }
          ]
        }

  redis:
    image: redis:7
    ports:
      - "6379:6379"

  wonderwall:
    image: ghcr.io/nais/wonderwall:latest
    # alternatively,
    # build: .
    ports:
      - "3000:3000"
    command: >
      --openid.client-id=a11y
      --openid.well-known-url=http://host.docker.internal:8080/issueissue/.well-known/openid-configuration
      --ingress=http://localhost:3000
      --bind-address=0.0.0.0:3000
      --upstream-host=host.docker.internal:8081
      --redis.address=redis:6379
      --redis.tls=false
      --log-level=debug
      --log-format=text
      --auto-login=true
    restart: on-failure
    environment:
      WONDERWALL_OPENID_CLIENT_JWK: >
        {
          "kty":"RSA",
          "alg":"RS256",
          "use":"sig",
          "p":"_xCPvqs85ZZVg460Qfot26rQoNRPTOVDo5p4nqH3ep6BK_5TvoU5LFXd26W-1V1Lc5fcvvftClPOT201xgat4DVtliNtoc8od_tWr190A3AzbsAVFOx0nKa5uhLBxP9SsPM84llp6PXF6QTMGFiPYuoLDaQQqL1K4BbHq3ZzF2M",
          "q":"7QLqW75zkfSDrn5rMoF50WXyB_ysNx6-2SvaXKGXaOn80IR7QW5vwkleJnsdz_1kr04rJws2p4HBJjUFfSJDi1Dapj7tbIwb0a1szDs6Y2fAa3DlzgXZCkoE2TIrW6UITgs14pI_a7RasclE71FpoZ78XNBvj3NmZugkNLBvRjs",
          "d":"f7aT4poed8uKdcSD95mvbfBdb6X-M86d99su0c390d6gWwYudeilDugH9PMwqUeUhY0tdaRVXr6rDDIKLSE-uEyaYKaramev0cG-J_QWYJU2Lx-4vDGNHAE7gC99o1Ee_LXqMDCBawMYyVcSWx7PxGQfzhSsARsAIbkarO1sg9zsqPS4exSMbK8wyCTPgRbnkB32_UdZSGbdSib1jSYyyoAItZ8oZHiltVsZIlA97kS4AGPtozde043NC7Ik0uEzgB5qJ_tR7vW8MfDrBj6da2NrLh0UH-q28dooBO1vEu0rvKZIescXYk9lk1ZakHhhpZaLykDOGzxCpronzP3_kQ",
          "e":"AQAB",
          "qi":"9kMIR6pEoiwN3M6O0n8bnh6c3KbLMoQQ1j8_Zyir7ZIlmRpWYl6HtK0VnD88zUuNKTrQa7-jfE5uAUa0PubzfRqybACb4S3HIAuSQP00_yCPzCSRrbpGRDFqq-8eWVwI9VdiN4oqkaaWcL1pd54IDcHIbfk-ZtNtZgsOlodeRMo",
          "dp":"VUecSAvI2JpjDRFxg326R2_dQWi6-uLMsq67FY7hx8WnOqZWKaUxcHllLENGguAmkgd8bv1F6-YJXNUO3Z7uE8DJWyGNTkSNK1CFsy0fBOdGywi-A7jrZFT6VBRhZRRY-YDaInPyzUkfWsGX26wAhPnrqCvqxgBEQJhdOh7obDE",
          "dq":"7EUfw92T8EhEjUrRKkQQYEK0iGnGdBxePLiOshEUky3PLT8kcBHbr17cUJgjHBiKqofOVNnE3i9nkOMCWcAyfUtY7KmGndL-WIP-FYplpnrjQzgEnuENgEhRlQOCXZWjNcnPKdKJDqF4WAtAgSIznz6SbSQMUoDD8IoyraPFCck",
          "n":"7CU8tTANiN6W_fD9SP1dK2vQvCkf7-nwvBYe5CfANV0_Bb0ZmQb77FVVsl1beJ7EYLz3cJmL8Is1RCHKUK_4ydqihNjEWTyZiQoj1i67pkqk_zRvfQa9raZR4uZbuBxx7dWUoPC6fFH2F_psAlHW0zf90fsLvhB6Aqq3uvO7XXqo8qNl9d_JSG0Rg_2QUYVb0WKmPVbbhgwtkFu0Tyuev-VZ9IzTbbr5wmZwEUVY7YAi73pDJkcZt5r2WjOF_cuIXe-O2vwbOrRgmJfHO9--mVLdATnEyrb6q2oy_75h6JjP-R4-TD1hyoFFoE2gmj-kSS6Z_Gggljs3Aw7--Nh10Q"
        }
  #statements:
  #  image: awesomepossum:latest
  #  ports:
  #    - "8081:8081"
  #  depends_on:
  #    - mock-oauth2-server
  #  restart: on-failure
  #  environment:
  #    AZURE_APP_CLIENT_ID: "a11y"
  #    AZURE_APP_WELL_KNOWN_URL: "http://host.docker.internal:8080/issueissue/.well-known/openid-configuration"
  #    DB_DATABASE: "a11y"
  #    DB_HOST: "host.docker.internal"
  #    DB_PASSWORD: "a11y"
  #    DB_PORT: "5432"
  #    DB_USERNAME: "postgres"