label {
    display: block;
}

body {
 font-family: "Source Sans Pro",Arial,sans-serif;
 line-height:1.333;
 font-size:1.125rem
}

body {
    max-width: 50rem;
    margin: 1rem auto;
}
summary {
    margin: 0 0 16px 0;
}

.radiogroup label {
    display: inline;
}

* {
    color: #333;
}