/* Theme */
body {
    font-family: "Source Sans Pro", Arial, sans-serif;
    line-height: 1.333;
    font-size: 1.125rem;
    color: #333;

    max-width: 60rem;
    margin: 0 auto;
    padding: 0 1em;
}

a {
    color: #244F91;
}

.cta {
    position: relative;
}

.cta::after {
    content: " 🡪";
    position: absolute;
    right: -1.25em;
    width: 1.25em;
    text-align: right;
}

a:hover, a:hover:after {
    background-color: #e7f4fb;
}

/* Front page stuff */
#uu-katt {
    width:400px;
    margin-top: 45px;
    float: right;
}

/* Main layout for report registration page */
.report-header {
    grid-area: report-header;
}

.sc-toc {
    grid-area: sc-toc;
}

.sc-list {
    grid-area: sc-list;
}

.report-container {
    display: grid;
    gap: 1em;
    grid-template-areas:
    "report-header"
    "sc-toc"
    "sc-list";
}

@media screen and (min-width: 768px) {
    .report-container {
        grid-template-columns: 3fr 5fr;
        grid-template-areas:
      "report-header  report-header"
      "sc-toc sc-list";
    }
}

/* Report registration page header */
.report-header h1 span {
    display: block;
}

.report-header h1 span:first-child {
    font-size: .5em;
}

.statement-metadata dt {
    font-weight: bold;
}

.statement-metadata dd {
    margin: 0 0 .75em 0;
}

/* Report registration page Table of Contents */
.sc-toc ul {
    list-style: none;
    margin: 0 0 1.5em;
    padding: 0 0 0 1.5em;
}

.sc-toc li {
    margin-bottom: .25em;
}

.sc-toc a {
    text-decoration: none;
    position: relative;
}

.sc-toc li:hover {
    background-color: #e7f4fb;
}

.sc-toc a:hover {
    text-decoration: underline;
}

.icon {
    border-radius: 50%;
    height: 1em;
    width: 1em;
    padding: 1px;
    position: absolute;
    top: .125em;
    left: -1.5em;

}

.non-compliant-icon {
    background: #ba0c13;
}

.compliant-icon {
    background: #2b883a;
}

.not-applicable-icon {
    background: #595959;
}

.not-tested-icon {
    background: #c07414;
}


.sc-list h3, .sc-toc h3 {
    margin: 0;
}

.sc-list form {
    margin: 1em 0 2em;
}

.report-info p {
    margin: .5em 0;
}

.sc-list fieldset {
    margin-bottom: 1em;
}

.sc-list details {
    margin-left: 1.5em;
}

.sc-list details:not(:last-child) summary {
    margin: 0 0 1em 0;
}

.to-top {
    position: fixed;
    background-color: #fff;
    right: 0;
    bottom: 0;
    padding: .25em;
}

label {
    display: block;
}


.radio-with-label label {
    display: inline;
}

#hovedmeny {
    border-bottom: #244F91 solid 4px;
}

#hovedmeny ul {
    margin: 0;
    padding: 0;
}

#hovedmeny li {
    display: inline-block;
}

#hovedmeny a, #hovedmeny span {
    padding: .5em 1em;
    display: inline-block;
    text-decoration: none;
}

#hovedmeny span {
    background-color: #244F91;
    color: white;
    font-weight: 600;
}

#hovedmeny a {
    color: #244F91;
}

#hovedmeny a:hover {
    text-decoration: underline;
}

button {
    margin-left: 1.5em;
}


.criterion-status p {
    margin-top: 0;
}

.criterion-status h2 {
    display: inline-block;
    margin: .5em;
    font-size: 1.3em;
}

.criterion-status h3 {
    margin: 0;
}

.criterion-status ul {
    margin: 0;
}
